* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  padding-top: 20px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  border-bottom: 2px solid #000;
  margin-bottom: 20px;
}

.footer {
  width: 100%;
  padding-bottom: 20px;
  border-top: 2px solid #000;
  text-align: center;
  font-size: 0.85em;
  color: #777;
}

.receipt-box {
  background: #f9f9f9;
  border: 1px solid #ccc;
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

table {
  width: 100%;
  line-height: 1.6;
  text-align: left;
  border-collapse: collapse;
  page-break-inside: auto;
}

thead {
  display: table-header-group;
  background-color: #f1f1f1;
  font-weight: bold;
}

.table td,
.table th {
  padding: 12px 8px;
  border: 1px solid #ccc;
  text-align: left;
}

.table th {
  background-color: #e0e0e0;
  font-weight: bold;
  text-transform: uppercase;
}

.table td {
  font-size: 0.9em;
}

.table .total,
.table .itemPrice {
  text-align: right;
  font-weight: bold;
}

.price--high {
  color: #d9534f; /* Red for high prices */
  font-weight: bold;
}

.price--normal {
  color: #5cb85c; /* Green for normal prices */
}

.price--zero {
  color: #838383;
}

.receipt__total-label,
.receipt__overall-total {
  font-weight: bold;
}

.receipt__total-label {
  text-align: right;
}

.receipt__overall-total {
  font-size: 1.2em;
  color: #333;
  text-align: right;
}
